{{#vdi-window
  title="Save Package"
  connectionName=connectionName
  windowClass="vdi-packaging"
  toggleWindow=toggleWindow
  stateVisible=stateVisible}}

  <div class='content-wrapper m-t-1 fl'>
    {{input type="text" value=packageName placeholder="Name" enter="savePackage" }}
    <button {{ action "savePackage" }} type="submit" class="btn btn-primary">Submit</button>
  </div>

{{/vdi-window}}

