
.configuration {

  .selectable-list {
    padding: 0;
  }

  .confirm-input-item {
    max-height: 27px;
    align-items: center;
  }

  .session-expired {
    margin-right: 5px;
  }

  .edit-text .editText {
    form {
      position: relative;
      bottom: 5px;
    }
  }

  .save-btn {
    width: 60px;
    @extend .transition-enabled-2;
    outline: 0;
    &:active {
      box-shadow: none;
      outline: 0;
    }

    &.loadState {
      width: 80px;
    }
  }
}
