.dim-background {
  @extend .transition-enabled;
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  top: 0;
  z-index: 1;

  &.state-show {
    visibility: visible;
    opacity: 1;
  }

  &.state-hide {
    opacity: 0;
    visibility: hidden;
  }
}
