.dim-background {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #000;
  top: 0;
  z-index: 1;

  &.state-show {
    visibility: visible;
    opacity: 1;
  }

  &.state-hide {
    opacity: 0;
    visibility: hidden;
  }
}
