.drag-n-drop-container {
  height: 150px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-n-drop-container .element-default-state {
  border: 2px dashed $gray-light;
  > .text {
    color: $gray;
  }
}

.drag-n-drop-container .element-active-state {
  border: 2px dashed $blue-default;
  background-color: $white;
  opacity: 0;
  > .text {
    color: $blue-default;
  }
}

.drag-n-drop-container .text {
  font-size: $font-size-root;
  pointer-events: none;
}

.drag-n-drop-container .progress {
  position: absolute;
    bottom: 20px;
    width: 80%;
    pointer-events: none;
    left: 0;
    right: 0;
    margin: auto;
}

.drag-n-drop-container .completed-message {
  position: relative;
  top: 45px;
  width: 90%;
  text-align: center;
  color: #1582AF;
  pointer-events: none;
}

.btn-cancel-upload {
  position: relative;
  top: 10px;
}
