.login-container {
	width: 100%;
	height: 100%;
  background: $gray-lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: $gray-lightest;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  width: 360px;

  form {
    margin: 50px 50px;
  }

  h3 {
    margin: 50px 0;
  }
}

.login-logo {
	height: 160px;
	background-color: $brand-primary;
	background-image: url('/assets/images/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 65%;
}
