.popup-component {
  position: absolute;
  width: 160px;
  top: -13px;
  margin-right: -180px;
  right: 0;
  z-index: 10;

  .arrow {
    width: 15px;
    height: 15px;
    background-color: $blue-default;
    position: absolute;
    left: -7px;
    top: 12px;
    z-index: 11;
    transform: rotate(45deg);
  }
}
