.ember-modal-fullscreen {

  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;

  &.vdi-off {
    background-color: #1d1d1d !important;
  }

  .vdi-drag-n-drop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    &.state-show,
    &.state-hide {
      pointer-events: auto;
    }
  }
}

.vdi-load-background {
  background-color: #1d1d1d !important;
}

.drag-n-drop-area {
  width: 100%;
  z-index: 4;
  background-color: rgba(0, 144, 255, 0.8);
  border: 3px dashed #fff;
  top: $topbar-height;
  left: 0;
  height: calc(100% - #{$topbar-height});
  pointer-events: none;
}

.togglable-state {
  opacity: 0;
  left: -100%;
}

.remote-session-topbar {
  height: $topbar-height;
  background-color: $topbar-background-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 7px #000000;
  z-index: 2;

  .left {
    display: flex;
  }

  .right {
    display: flex;
  }

  .link,
  .state {
    font-size: 14px;
    padding-top: 3px;
  }

  .progress {
    padding-left: 10px;
  }

  .state-enabled {
    color: $gray;
  }

  .state-enabled {
    color: $blue-default;
  }

  .go-back {
    color: $blue-default;
  }
}

.canva-fullscreen {
  width: 100%;
  height: calc(100% - #{$topbar-height});
}
