.sortableTable {

  .short {
    width: 40px;
    text-align: center;
  }

  .inner-table-wrapper {
    margin-top: 20px;
  }

  .table-bordered thead th {
    @extend .clickable;
    border: 1px solid $blue-lighter;
  }

  .table-header-no-filtering {
    display: none;
  }

  td {
    border: 1px solid $blue-lighter;
    vertical-align: middle;
  }

  tr {
    background-color: $white !important;
  }

  .table-footer button {

    border: 1px solid #ECECEC;
    background-color: $white;
    outline: 0;

    &:active {
      outline: 0;
    }

  }

  .pagination-number {
    display: none;
  }
}
