.topbar-item {

  @extend .noselect;
  height: $topbar-height;
  margin: 0px 5px 0px 5px;
  padding: 2px 3px 0px 3px;

  &.active {
    color: $gray;
  }

  &.clickable {
    cursor: pointer;
  }

  & .material-icons {
    font-size: 16px;
  }
}

.topbar-item.hover-enabled:hover {
  color: $blue-default;
}

.topbar-item.hover-darker:hover {
  color: $blue-darken;
}
