
.user-detail {

  .name-row {
    height: 30px;
  }

  .content-wrapper {
    table {

      th { 
        width: 30%;
        height: 30px;
      }

      td {
        position: relative;
        height: 30px;
      }
    }
  }
}

.users {

  .short {
    width: 90px;
    text-align: center;
  }

  .online-help.icon-component {
    position: relative;
    top: 7px;
  }
}
