.vdi-drag-n-drop {

  height: 100%;

  .drag-n-drop-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 144, 255, 0.8);
    pointer-events: none;

    .text {
      font-size: 40px;
      color: #fff;
    }

    &.state-show {
      opacity: 1;
    }

    &.state-hide {
      opacity: 0;
    }
  }
}
