<div class="login-container">
	<div class="login-form">
		<div class="login-logo"></div>
		<form {{action 'authenticate' on='submit'}}>
			<fieldset class="form-group">
				{{input class='form-control' autofocus=true placeholder='E-mail' value=identification}}
			</fieldset>
			<fieldset class="form-group">
				{{input class='form-control' placeholder='Password' type='password' value=password}}
			</fieldset>
			<button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
			{{#if autoRegister}}
				{{#link-to 'sign-up'}}Sign up{{/link-to}}
			{{/if}}
			{{#link-to 'reset-password' class="fright"}}Reset my password{{/link-to}}
		</form>
	</div>
</div>
