<h5 class="m-t-1">Others settings</h5>
<div class="form-group row m-t-1">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Host:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.host placeholder="http://127.0.0.1" type="text"}}</div>
</div>
<div class="form-group row m-t-1">
  <div class="col-sm-2">
    <p  class="confirm-input-item color-primary in-bl fl">Machines name:</p>
  </div>
  <div class="col-sm-3">
    {{input-confirm placeholder=configController.machinesName value=configController.machinesName type="text"}}
  </div>
</div>
