{{#container-block}}
  <h4 class='color-default m-b-1'>Host</h4>
  <div class="form-group row m-t-1">
    <div class="col-sm-3">
      <p class="confirm-input-item color-primary in-bl fl va-sub">Host (example: localhost)</p>
    </div>
    <div class="col-sm-2">{{input-confirm value=configController.host placeholder="http://127.0.0.1" type="text"}}</div>
  </div>
{{/container-block}}

{{#container-block}}
  <h4 class='color-default m-b-1'>Machines</h4>
  <div class="form-group row m-t-1">
    <div class="col-sm-3">
      <p  class="confirm-input-item color-primary in-bl fl va-sub">Machines name</p>
    </div>
    <div class="col-sm-2">
      {{input-confirm placeholder=configController.machinesName value=configController.machinesName type="text"}}
    </div>
  </div>
{{/container-block}}

{{#container-block}}
  <h4 class='color-default m-b-1'>Enable Photon</h4>
  <div class="layout-column">
    {{#paper-checkbox class="bl" value=configController.photon onChange=(action (mut configController.photon))}}
      Activate Photon (experimental)
    {{/paper-checkbox}}
  </div>
{{/container-block}}
