<div class="histories section">
  <h1 class='in-bl color-primary'>
    Broker log
  </h1>
  <span class="icon_link clickable noselect color-default" {{ action "refreshModel" }}>
    {{icon-component class='va-sub' size=26 materialIcon="autorenew" spin=loadState content="Refresh logs"}}
  </span>
  <div class='content-wrapper m-t-2'>
    {{#if modelIsEmpty}}
      No entries
    {{else}}
      {{models-table
        class="sortableTable"
        data=data
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/if}}
    <div class="clearfix"></div>
  </div>
</div>
