<fieldset class="form-group {{ if isInvalid "has-danger" }} {{ if isValid "has-success"}}">
  {{input class='form-control' focus-in="toggleFocus" focus-out="toggleFocus" type=type placeholder=placeholder value=value}}

  {{#if showMessage}}
    <div class="error">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
</fieldset>
