{{#unless showVdi}}
  <div class="vdi-load-background centered fixed noselect">
    <div>
      <h2 class='text'>Loading</h2>
      <div class='white '>
        Please wait, we're trying to open a session.
        <p>
          Status: {{display-guac-status remoteSession.loadState}}<br/>
          Waiting for plaza: {{plazaStatus}}<br/>
          <div class='abs'>
            {{#unless vdiIsLoading}}
              Starting..
            {{/unless}}
          </div>
        </p>
      </div>
    </div>
  </div>
{{else}}
  {{#if guacError}} 
    <div class="vdi-load-background centered fixed">
      <div>
        <h2>An error occured.</h2>
        <div class='white '>
          Connection has failed.
          <p>
            Message: {{vdiLoadErrorMessage}}
          </p>
          <div>
            {{#icon-component action=(action 'retryConnection') materialIcon="refresh" hover-lighter=true class='clickable color-primary va-sup'}}
              <span class='color-primary va-sup'>
                Retry connection 
              </span>
            {{/icon-component}}
          </div>
          <div>
            {{#icon-component action='goToApp' materialIcon="replay" hover-lighter=true class='clickable color-primary va-sup'}}
              <span class='color-primary va-sup'>
                Go back
              </span>
            {{/icon-component}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/unless}}
