<div class="section p-a-2">
  <h4>Files</h4>
  <div class='content-wrapper'>
    <div class="alert alert-info" role="alert">
      <strong>Windows needs to be up to access files</strong>
      <br />
      Click "Go to machines" to be redirected to the page were you will be able to download then run the Windows execution machine
    </div>
    {{#link-to "protected.machines"}}
      <button class='btn btn-primary btn-block'>
        Go to machines
      </button>
    {{/link-to}}
  </div>
</div>
