<div class='content-wrapper m-t-1'>
  <p class="color-primary in-bl fl m-t-1">
    <span class='session-expired'>
    <span class="va-sup">Session duration (seconds)</span>
    {{input-confirm class="in-bl va-bottom" placeholder=configController.sessionDuration value=configController.sessionDuration type="number"}}
    </span>
  </p>
</div>
