<div class='vdi'>
  {{#vdi-drag-n-drop onDrop=(action 'toggleWindow' 'upload') dragAndDropActive=dragAndDropActive as |uploadData|}}
    {{partial 'vdi/topbar'}}
    {{#remote-session class='canva-fullscreen fixed' machineId=machine_id connectionName=connection_name as |remoteSessionData|}}
      {{partial 'vdi/load'}}
    {{/remote-session}}
    {{dim-background show=dimBackground action="closeAll"}}
    {{partial 'vdi/windows'}}
  {{/vdi-drag-n-drop}}
</div>
