Hello {{firstName}} {{lastName}},<br/>
We received a request to reset your password.<br/>
<a href="{{resetLink}}">Reset my password</a><br/><br/>
<i>If you ignore this message your password won't be changed.</i>
