<div class='user m-t-1'>
  <p class="color-primary indication in-bl">
    <span class="text">
      All your users are displayed in this page. You can click on one name to display its configuration page.
    </span>
  </p>
  <h4>
    {{#link-to 'protected.users' }}Users{{/link-to}}
    {{#link-to 'protected.users.new' class='btn btn-primary pull-xs-right'}}Add user{{/link-to}}
  </h4>
  <div class='content-wrapper m-t-2'>
    {{#if modelIsEmpty}}
      No entries 
    {{else}}
      {{models-table
        class="sortableTable"
        data=model
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/if}}
    <div class="clearfix"></div>
  </div>
</div>
{{ outlet }}
