<div class='user m-t-1'>
  <h1 class='m-t-1 color-primary'>
    Users
    {{#link-to 'protected.users.new' class='btn btn-primary pull-xs-right btn-color-default'}}Add user{{/link-to}}
  </h1>
  <div class='content-wrapper m-t-2'>
    {{#if modelIsEmpty}}
      No entries 
    {{else}}
      {{models-table
        class="sortableTable"
        data=model
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
        toggleUserSetting=(action 'toggleUserSetting')
        closePopup=(action 'closePopup')
        changeUserTeam=(action 'changeUserTeam')
      }}
    {{/if}}
    <div class="clearfix"></div>
  </div>
</div>
{{ outlet }}
