<div class='app-item-block link hover-enabled' {{ action "triggerDownload" file.name }}>
  <div class='app-item part1'>
    <i class='va-top material-icons'>{{ file.icon }}</i>
  </div>
  <div class='app-item part2'>
    <span class='filename'>{{file.name}}</span>
  </div>
  <div class='app-item part3'>
    <i class='va-top material-icons link'>file_download</i>
  </div>
</div>
