<div class="group m-t-1">
  <h1 class='m-t-1 color-primary'>
    Groups
    {{#link-to 'protected.users.groups.new'}}
      <button class='btn btn-primary pull-xs-right btn-color-default'>
        Create a group
      </button>
    {{/link-to}}
  </h1>
  <div class='content-wrapper m-t-1'>
    {{#if modelIsEmpty}}
      <p class="color-primary indication in-bl">
        <span class="text">
          Looks like you haven’t created any group yet! Click here to create your first group!
        </span>
      </p>
    {{else}}
      {{models-table
        class="sortableTable"
        data=data
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/if}}
    <div class="clearfix"></div>
  </div>
</div>
