{{#vdi-window
  title="Clipboard"
  connectionName=connectionName
  windowClass="vdi-clipboard"
  toggleWindow=toggleWindow
  stateVisible=stateVisible}}

  <div class='content-wrapper'>

    <p class="color-primary indication">This input reflects your instance's clipboard. You can type any text in here and it will be automatically transfered to your instance ready to be paste.</p>

    <div class='input-wrapper'>
      <div class='textarea'>
        {{textarea value=cloudClipboardContent }}
      </div>
    </div>
  
    <div {{ action "savePasteToLocal" }} class='input-wrapper'>
        <i class="clickable color-gray-dark material-icons va-sub">laptop_chromebook</i>
        <span class='text link'>Copy clipboard to local</span>
        <span class='done-msg'>Done!</span>
    </div>
    <div {{ action "clearClipboard" }} class='input-wrapper'>
        <i class="clickable color-gray-dark material-icons va-sub">clear</i>
        <span class='text link'>Clear clipboard</span>
    </div>
  </div>

{{/vdi-window}}
