<h5 class="m-t-1 m-b-2">Look and feel</h5>
<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Title:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.customTitle placeholder=configController.customTitle type="text"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Favicon path:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.customFavIconPath type="text" }}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Logo path:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.customLogoPath type="text"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Primary color (hex): </p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.customPrimaryColor placeholder="#000000" type="text"}}</div>
</div>

