{{#nano-tooltip class='in-bl' content="Click here to copy to clipboard" position="right"}}
<span {{ action "copyTextToClipboard" value }}>
  {{icon-component materialIcon="content_copy" size=17 class="icon_link clickable"}}
</span>
{{/nano-tooltip}}
