<div class="login-container">
  <div class="login-form">
  <div class="login-logo background-color-default"></div>
    <div class="section">
      <div class="content-wrapper form">
        <form {{action 'submitForm' on='submit'}}>
          <h4>Forgot your password ?</h4>
          {{nano-input type="email" hideError=userHasSubmitted autofocus=true
            placeholder='Email address' model=model valuePath="email"}}
          <button type="submit" class="btn btn-primary btn-block text-uppercase btn-color-default {{ if loadState 'loadState' }}">
            <span class='text'>Send me a link</span>
            {{#if (is-equal loadState 1) }}
              {{icon-component fontAwesome="spinner" fontAwesomeSpin=true}}
            {{/if}}
          </button>
          {{#link-to 'login'}}Sign in{{/link-to}}
        </form>
      </div>
    </div>
  </div>
</div>
