<div class="section">
  <h1 class='color-primary m-b-2'>
    Configuration
  </h1>
  <ul class="nav nav-pills">
    <li class="nav-item">
      {{#link-to 'protected.configs.index' class='nav-link' }}Session{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'protected.configs.user-right' class='nav-link'}}User rights{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'protected.configs.email-configuration' class='nav-link'}}Email configuration{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'protected.configs.look-and-feel' class='nav-link'}}Look and feel{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'protected.configs.ldap' class='nav-link'}}LDAP{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'protected.configs.other-setting' class='nav-link'}}Other settings{{/link-to}}
    </li>
  </ul>
  {{outlet}}
</div>
