<div class='p-a-1'>
  <div class='head'>
    <h5 class='color-primary'>
      {{#if materialIcon}}
        <i class="material-icons">{{ materialIcon }}</i>
      {{/if}}
      {{title}}
    </h5>
    <div class='close-btn'>
       {{ icon-component
          materialIcon="close"
          clickable=true
          hover-enabled=true
          click=close
        }}
    </div>
  </div>
  {{yield}}
</div>
