<div class='nano-switch {{ if checked "enabled" "disabled"}}'>
  {{#if checked}}
    {{icon-component class='va-sub' size=12 materialIcon="done"}}
  {{else}}
    {{icon-component class='va-sub' size=12 materialIcon="add"}}
  {{/if}}
</div>
