<!--
<i {{action 'sendAction' 'delete' record.name}}
class='va-top material-icons link color-primary'>file_download</i>
-->

<span {{action 'sendAction' 'download' record.name}}>
  {{icon-component materialIcon='file_download'}}
</span>
