<div class='m-t-1 m-b-1'>
  {{text-editor value=template on-change="textChanged"}}
</div>

<div>
  <p class="color-primary indication in-bl m-t-1">
    <strong>Available placeholders:</strong>
    <ul>
      <li>firstName: user's first name</li>
      <li>lastName: user's last name</li>
      <li>activationLink: will resolve to the link to use to activate the account</li>
    </ul>
  </p>
</div>

<button {{ action 'saveChanges' }} class="btn btn-primary btn-color-default">Update</button>
