& {
  height: 100%;

  .drag-n-drop-area {
    @extend .fullscreen;
    z-index: 4;
    background-color: rgb(0, 144, 255);
    opacity:0.8;
    pointer-events: none;

    &.state-hide {
      opacity: 0;
    }
  }
}
