<div class="login-container">
  <div class="login-form">
  <div class="login-logo"></div>
		<div class="section">
		  <div class="content-wrapper form">
		    <form {{action 'update' on='submit'}}>
				<h4>Reset your password</h4>
		        	{{nano-input type="password" placeholder='New password' model=model valuePath="password"}}
		        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update my password</button>
				  {{#link-to 'login'}}Sign in{{/link-to}}
        </form>
		  </div>
		</div>
	</div>
</div>
