<div class='content-wrapper'>
  {{#each uploadData.queue as |file|}}
    {{#unless file.isDir}}
      {{ file-item file=file download="downloadFile" }}
    {{/unless}}
  {{else}}
    No data available
  {{/each}}
</div>
